* {
    margin: 0;
    padding: 0;
}

#clock {
    padding: 20px 10px;
    border-radius: 5px;
    width: 80%;
    font-size: 30px;
    display: none;

}


#box {
    display: none;
    width: 80%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    padding: 40px;
}

#success {
    display: none;
}

#danger {
    display: none;
}

ul:not(#rules) {
    margin-top: 15px;
    list-style: none;
}